<!-- Toolbar -->
<div class="toolbar" role="banner">

  <a style="text-decoration: none;" href="https://intercorpretail.pe/" target="_blank">
    <img width="200" alt="Angular Logo" src="assets/images/intercorp_logo.png" />
  </a>

  <div class="spacer"></div>
</div>

<div class="container-fluid" style="margin-top: 60px;">

  <div class="row justify-content-center">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="box-table w-100" style="background-color: #FAFAFA; overflow-x: auto;">

        <div class="box-table-search py-3 w-100">
          <h5>Barra de búsqueda</h5>
          <hr class="w-100">
          <mat-form-field floatLabel="always">
            <mat-label >Buscador</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Buscar por firstname, lastname, city, country, email " #input>
          </mat-form-field>
        </div>

        <div class="box-table-header">
          <h5>Listado de elementos</h5>
          <hr class="w-100">
        </div>
        <table mat-table [dataSource]="roots">

          <!--- Note that these columns can be defined in any order.
                The actual rendered columns are set as a property on the row definition" -->

          <!-- Position Column -->
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> # </th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
          </ng-container>

          <ng-container matColumnDef="firstname">
            <th mat-header-cell *matHeaderCellDef> FirstName </th>
            <td mat-cell *matCellDef="let element"> {{element.person.firstname}} </td>
          </ng-container>

          <ng-container matColumnDef="lastname">
            <th mat-header-cell *matHeaderCellDef> LastName </th>
            <td mat-cell *matCellDef="let element"> {{element.person.lastname}} </td>
          </ng-container>

          <ng-container matColumnDef="city">
            <th mat-header-cell *matHeaderCellDef> City </th>
            <td mat-cell *matCellDef="let element"> {{element.person.city}} </td>
          </ng-container>

          <ng-container matColumnDef="country">
            <th mat-header-cell *matHeaderCellDef> Country </th>
            <td mat-cell *matCellDef="let element"> {{element.person.country}} </td>
          </ng-container>

          <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef> Email </th>
            <td mat-cell *matCellDef="let element"> {{element.person.email}} </td>
          </ng-container>

          <ng-container matColumnDef="last_update">
            <th mat-header-cell *matHeaderCellDef> LastUpdate </th>
            <td mat-cell *matCellDef="let element"> {{element.last_update}} </td>
          </ng-container>

          <ng-container matColumnDef="last_modified">
            <th mat-header-cell *matHeaderCellDef> LastModified </th>
            <td mat-cell *matCellDef="let element"> {{element.last_modified}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator #paginator
                      (page)="handlePageEvent($event)"
                      [length]="length"
                      [pageSize]="pageSize"
                      [disabled]="disabled"
                      [showFirstLastButtons]="showFirstLastButtons"
                      [hidePageSize]="hidePageSize"
                      [pageIndex]="pageIndex"
                      aria-label="Select page">
        </mat-paginator>

      </div>
    </div>
  </div>

  <!-- Footer -->
  <footer class="d-flex justify-content-center w-100 my-5">
    <small>&copy; 2023 - JHON LIZARBE</small>
  </footer>

</div>

<!-- <router-outlet></router-outlet> -->